name: Build
on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: false
        description: The token to upload coverage reports to Codecov
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup
        uses: ./.github/actions/setup
      - name: Build
        run: pnpm run build
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - name: Type Check
        run: pnpm check:type
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: dist
          path: dist
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: web-csv-toolbox-wasm
          path: |
            web-csv-toolbox-wasm/**/*
            !web-csv-toolbox-wasm/src
            !web-csv-toolbox-wasm/target
            !web-csv-toolbox-wasm/Cargo.toml
            !web-csv-toolbox-wasm/Cargo.lock
            !web-csv-toolbox-wasm/.gitignore

  doc:
    runs-on: ubuntu-latest
    needs:
      - build
    concurrency:
      group: GitHub Pages
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup
        uses: ./.github/actions/setup
        with:
          skip-rust-setup: 'true'
      - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: web-csv-toolbox-wasm
          path: web-csv-toolbox-wasm
      - name: Build documentation
        run: pnpm run doc
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: doc
          path: doc
