name: Build
on:
  workflow_call:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - run: |
          sudo apt-get update
          sudo apt-get install libstdc++-12-dev
      - name: Install latest
        uses: moonrepo/setup-rust@b8edcc56aab474d90c7cf0bb8beeaf8334c15e9f # v1.1.0
        with:
          targets: wasm32-unknown-unknown
          channel: nightly
      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - uses: pnpm/action-setup@d882d12c64e032187b2edb46d3a0d003b7a43598 # v2.4.0
        with:
          version: 8
      - name: Setup Node.js 20
        uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # v4.0.1
        with:
          node-version: 20
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Build
        run: pnpm run build
      - uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4.3.1
        with:
          name: dist
          path: dist
      - uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4.3.1
        with:
          name: web-csv-toolbox-wasm
          path: |
            web-csv-toolbox-wasm/**/*
            !web-csv-toolbox-wasm/src
            !web-csv-toolbox-wasm/target
            !web-csv-toolbox-wasm/Cargo.toml
            !web-csv-toolbox-wasm/Cargo.lock
            !web-csv-toolbox-wasm/.gitignore
      - name: Generate artefacts summary
        id: artefacts-summary
        run: |
          echo "ARTEFACTS_SUMMARY<<EOF" >> $GITHUB_OUTPUT
          find dist/ -type f -exec sha512sum {} \; | sed 's/  /,/' | cat <(echo 'sha512,file_name') - >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
      - name: Add the artefacts summary as a git notes
        run: |
          git fetch origin refs/notes/*:refs/notes/*
          git config user.name "GitHub Action"
          git config user.email "action@github.com"
          git notes add -f -m "${{ steps.artefacts-summary.outputs.ARTEFACTS_SUMMARY }}"
          git notes show
          git push origin refs/notes/*
