name: Dynamic Tests
on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: true
        description: The token to upload coverage reports to Codecov
      CODSPEED_TOKEN:
        required: true
        description: The token to upload benchmarks to CodSpeed

jobs:
  typecheck:
    name: Type tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup
        uses: ./.github/actions/setup
        with:
          skip-rust-setup: 'true'
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      - name: Run type tests
        run: pnpm test:typecheck

  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup
        uses: ./.github/actions/setup
        with:
          skip-rust-setup: 'true'
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      - name: Coverage
        run: pnpm test:coverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24 # v5.4.3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  benchmarks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup
        uses: ./.github/actions/setup
        with:
          skip-rust-setup: 'true'
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      - name: Run benchmarks
        uses: CodSpeedHQ/action@0010eb0ca6e89b80c88e8edaaa07cfe5f3e6664d # v3.5.0
        with:
          run: pnpm test:bench
          token: ${{ secrets.CODSPEED_TOKEN }}

  test_nodejs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Setup
      uses: ./.github/actions/setup
      with:
        node-version: ${{ matrix.node-version }}
    - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
    - run: pnpm test run


  test_deno:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
    - uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
      with:
        deno-version: lts
    - run: |
        deno eval '
        import { parse } from "./dist/web-csv-toolbox.js";

        const csv = `name,age
        Alice,42
        Bob,69`;

        for await (const record of parse(csv)) {
          console.log(record);
        }'

  test_linux_browser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup
        uses: ./.github/actions/setup
        with:
          skip-rust-setup: 'true'
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      - name: Run browser tests (Chrome, Firefox in parallel)
        run: pnpm test:browser

  test_macos_browser:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup
        uses: ./.github/actions/setup
        with:
          skip-rust-setup: 'true'
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      - name: Run browser tests (Chrome, Firefox in parallel)
        run: pnpm test:browser


  test_windows_browser:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup
        uses: ./.github/actions/setup
        with:
          skip-rust-setup: 'true'
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      - name: Run browser tests (Chrome, Firefox, Edge in parallel)
        run: pnpm test:browser
