on:
  workflow_call:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - run: |
          sudo apt-get update
          sudo apt-get install libstdc++-12-dev
      - name: Install latest
        uses: moonrepo/setup-rust@v1
        with:
          targets: wasm32-unknown-unknown
          channel: nightly
      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Setup Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Build
        run: pnpm run build
      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist
      - uses: actions/upload-artifact@v4
        with:
          name: web-csv-toolbox-wasm
          path: |
            web-csv-toolbox-wasm/**/*
            !web-csv-toolbox-wasm/src
            !web-csv-toolbox-wasm/target
            !web-csv-toolbox-wasm/Cargo.toml
            !web-csv-toolbox-wasm/Cargo.lock
            !web-csv-toolbox-wasm/.gitignore
