name: Main Workflow
on:
  push:
    branches:
      - main
  pull_request:

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:

  static_tests:
    name: Static Tests
    uses: ./.github/workflows/.static-tests.yaml

  build:
    name: Build
    uses: ./.github/workflows/.build.yaml
    needs:
      - static_tests
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  dynamic_tests:
    name: Dynamic Tests
    uses: ./.github/workflows/.dynamic-tests.yaml
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      CODSPEED_TOKEN: ${{ secrets.CODSPEED_TOKEN }}
    needs:
      - static_tests

  release:
    name: Release
    uses: ./.github/workflows/.release.yaml
    needs:
      - static_tests
      - build
      - dynamic_tests
    if: ${{ github.repository == 'kamiazya/web-csv-toolbox' && github.ref == 'refs/heads/main' && success() }}
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
