name: Main Workflow
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:

  static_tests:
    name: Static Tests
    uses: ./.github/workflows/.static-tests.yaml
    permissions:
      contents: read

  build:
    name: Build
    uses: ./.github/workflows/.build.yaml
    permissions:
      contents: read
    needs:
      - static_tests
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  dynamic_tests:
    name: Dynamic Tests
    uses: ./.github/workflows/.dynamic-tests.yaml
    permissions:
      contents: read
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      CODSPEED_TOKEN: ${{ secrets.CODSPEED_TOKEN }}
    needs:
      - build
      - static_tests

  release:
    name: Release
    uses: ./.github/workflows/.release.yaml
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    needs:
      - static_tests
      - build
      - dynamic_tests
    if: ${{ github.repository == 'kamiazya/web-csv-toolbox' && github.ref == 'refs/heads/main' && success() }}
